.main {
    width: 100%;
    height: 600px;
    background-image: url('../../../assets/img/wlcm.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
h1{
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-weight: 900;
    font-size:40px ;
}
h3{
    font-family:'MS Sans Serif', Geneva, sans-serif;
}
.description{
    width: 420px;
    position: absolute;
    top: 245px;
    left: 100px;
}
#join{
    margin-top: 15px;
    width: 100px;
}