<div class="container">
    
    
  
      <table class="table" >
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Label</th>
            <th scope="col">Price</th>
            <th scope="col">Color</th>
            
            <th> <button class="btn btn-success" routerLink='addproduct'>Add</button></th>
          </tr>
         
        </thead>
        <tbody *ngFor="let obj of data">
          <tr>
            <th scope="row" >{{obj.id}}</th>
            <td>{{obj.name}}</td>
            <td>{{obj.price}}</td>
            <td>{{obj.color}}</td>
            
            <td><button class="btn btn-info" routerLink="/Product/{{obj.id}}">update</button></td>
            <td><button class="btn btn-danger" (click)="deleteData(obj.id)">delete</button></td>

          </tr>
         
        </tbody>
      </table>
</div>

